$breakpoint-l: 75em;
$breakpoint-m: 50em;
$breakpoint-s: 37.5em;

:root {
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fz-4xs: 1.2rem;
  --fz-3xs: 1.4rem;
  --fz-2xs: 1.6rem;
  --fz-xs: 1.8rem;
  --fz-s: 2rem;
  --fz-m: 2.4rem;
  --fz-xm: 3rem;
  --fz-3xm: 4.4rem;
  --fz-l: 5.2rem;
  --fz-xl: 6.2rem;
  --fz-3xl: 8.6rem;

  --lh-content: 1;
  --lh-s: 1.05;
  --lh-m: 1.2;
  --lh-l: 1.8;
  --lh-paragraph: 1.6;

  --lts-shrink: -0.5px;
  --lts-span-m: 0.75px;

  --shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  --brs-common: 9px;
  --brs-m: 11px;

  --metric-2xs: 0.4rem;
  --metric-xs: 0.8rem;
  --metric-s: 1.2rem;
  --metric-m: 1.6rem;
  --metric-xm: 2.4rem;
  --metric-2xm: 3.2rem;
  --metric-3xm: 4.8rem;
  --metric-l: 6.4rem;
  --metric-xl: 8rem;
  --metric-2xl: 9.6rem;

  --clr-primary: #e67e22;
  --clr-tint-1: #fdf2e9;
  --clr-tint-2: #fae5d3;
  --clr-tint-3: #eb984e;
  --clr-shade-1: #cf711f;
  --clr-shade-2: #45260a;
  --clr-grey-1: #888;
  --clr-grey-2: #767676; // grey on #fff
  --clr-grey-3: #6f6f6f; // grey on #fdf2e9
  --clr-grey-4: #555;
  --clr-grey-5: #333;
  --clr-grey-6: #ddd;
  --clr-focus: #e67d2280;
  --clr-active: lightblue;

  --trs-quick: 150ms;
  --trs-gradual: 250ms;

  --max-content-width: 120rem;
  --header-block-size: 9.6rem;

  @media screen and (max-width: $breakpoint-m) {
    --header-block-size: 8rem;
    --metric-xm: 2em;
    --metric-2xm: 2.8rem;
    --metric-3xm: 3.6rem;
    --metric-l: 4.4rem;
    --metric-xl: 6.4rem;
    --metric-2xl: 7.6rem;
  }
}
