.btn {
  text-decoration: none;
  outline: unset;
  border: unset;

  display: inline-flex;
  align-items: center;
  font-size: inherit;
  font-weight: var(--fw-semi-bold);
  padding: 0.68em 1.2em;
  border-radius: var(--brs-common);
  cursor: pointer;

  transition: background-color var(--trs-quick), box-shadow var(--trs-quick),
    border var(--trs-quick), scale var(--trs-gradual);

  &:active {
    background-color: var(--clr-active, lightblue);
  }

  &--primary {
    color: white;
    background-color: var(--clr-primary);

    &:hover {
      background-color: var(--clr-shade-1);
    }
  }

  &--white {
    color: var(--clr-grey-5);
    background-color: #fff;
    border: 0.28rem solid #fff;

    &:hover {
      background-color: var(--clr-tint-1);
    }
  }

  &--text {
    color: var(--clr-primary);
    border-block-end: 0.1rem solid currentColor;
    padding: 0.32em;
    border-radius: unset;
    font-weight: var(--fw-normal);

    &:hover {
      border-block-end-color: transparent;
      scale: 1.12;
    }
  }
}
